.full-height {
  height: 100vh;
  padding: 20px;
  padding-bottom: 80px
}

.full-row {
  height: 100%;
}

textarea {
  margin-left: 20px;
}

pre {
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  background-color: whitesmoke;
}

button {
  margin-top: 20px;
  margin-left: 20px;
}
